<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>
<p>dhjsdgjhfjhffsdjhg HomePage jhgfjhdgfjdshfgjsdhfg</p>

<div ng-hide="isLoggedIn()" class="jumbotron text-center">
    <p>Login or Register with:</p>
    <a ui-sref="login">Login</a>
    <a ui-sref="signup" class="btn btn-default">Signup</a>
</div>