<div class="row">
    <div class="col-xs-6">
    	<h1>Welcome to fotoQuiz, can you guess the location?</h1>
    </div>
    <div class="col-xs-6">
		<div class="panel with-nav-tabs panel-default" ng-hide="isLoggedIn()">

				<ul class="nav nav-tabs nav-justified">
						<li class="active"> 
							<a  href="#1" data-toggle="tab" ng-click="toggleAction()">Login</a>
						</li>
						<li>
							<a href="#2" data-toggle="tab" ng-click="toggleAction()">Signup</a>
						</li>
				</ul>
			<div class="panel-body">
				<div class="tab-content ">
					<br>
					<div ng-show="errorHideShow()" class="alert alert-danger row">
		    			<span>{{ error.message }}</span>
					</div>
					<div class="tab-pane active" id="1">
			        	<div ng-include="'templates/login.html'"></div>
					</div>
					<div class="tab-pane" id="2">
						<div ng-include="'templates/signup.html'"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>