<nav class="navbar navbar-default" role="navigation" ng-controller="navCtrl">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home">Home</a></li>
            <li ng-show="isLoggedIn()"><a ui-sref="ranking">Ranking</a></li>
            <li><a ui-sref="quiz">Quiz</a></li>
            <li><a ui-sref="quizsearch">Search for quiz</a></li>
            <li><a ui-sref="comment">Comment Section</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li ng-show="isLoggedIn()" role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                {{ currentUser() }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
                    <li><a ui-sref="profile" ui-sref-opts="{reload: true,  inherit: false}">My Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ui-sref="home" ng-click="logOut()">Log Out</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
