<style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

<h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        google.maps.event.addListener(map, 'click', function(event) {
    		placeMarker(event.latLng);
  		});
      }
      function placeMarker(location) {
  			var marker = new google.maps.Marker({
      			position: location, 
      			map: map
  			});

  			map.setCenter(location);
		}
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrriX06otU67RMzucGE-vRA_W4Rvvva5Y&callback=initMap">
    </script>
