  <script type="text/javascript">
    var fotoID = 0// foto ID hier
  </script>
  <script src="../js/services/map.js">
    </script>
  <script 
    src="https://maps.googleapis.com/maps/api/js?callback=initMap">

    </script>
    <script src="../js/services/imgur.js">

    </script>
<style>
       #map {
        height: 400px;
        width: 100%;
       }
           .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
    </style>

<h3>My Google Maps Demo</h3>
<div id="map"></div>

<h4> Image here </h4>
<div id="img">
<script type="text/javascript">
    /* The uploader form */
    $(function () {
        $(":file").change(function () {
            if (this.files && this.files[0]) {
                var reader = new FileReader();

                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
            }
        });
    });

    function imageIsLoaded(e) {
        $('#myImg').attr('src', e.target.result);
        $('#yourImage').attr('src', e.target.result);
        addImage(e.target.result); 
        console.log(e.target.result);
    };

    var img = getImage('XtYo4Vj');

</script>


<input type='file' />
</br><img id="myImg" src="#" alt="your image" height=200 width=100>

</div>
   
