
<button class="btn btn-primary btn-lg" data-toggle="modal" ng-click="initiateNewQuiz()" data-target="#firstPostingModal">Add</button>

<div class="row h3">All pictures</div>

<div class="row" >

  <div class="col-md-2 quiz" ng-repeat="item in quizzes">
    <a ui-sref="singleQuiz ({quiz: item})">
    <img ng-src="{{item.imageURL}}" />
    </a>
    <br>
    <a ui-sref="profile({username: item.username})">{{item.username}}</a>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="firstPostingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload your picture and start your own quiz!</h4>
      </div>
      <div class="modal-body">

        <div class="form-group">
          Give a message for others to read.
          <input type="text" ng-model="quiz.content" class="form-control" placeholder="Content"/>
        </div>

        <div class="form-group">
          Select a picture of your location.
          <input type="file" ng-model="image" id="image" class="form-control" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="closeFirstModal()" onclick="showModalWithWait('secondPostingModal')">Next</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<!-- Modal -->
<div class="modal fade" id="secondPostingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload your picture and start your own quiz!</h4>
      </div>
      <div class="modal-body"> <!-- instead of NULL  we must put down de longitude and latitude of the picture, if there is none the string "NULL" instead of 1 there should be the quiz ID -->
          <div id="map"><script> window.onload = LocationMap("NULL", "NULL", 1);</script></div>
        <div class="form-group">
          Give a hint for your location.
          <input type="text" ng-model="quiz.hint" class="form-control" placeholder="Hint"/>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="showModal('firstPostingModal')">Prev</button>
        <button class="btn btn-primary" ng-click="createQuiz()" onclick="waitingDialog.show('Creating quiz');setTimeout(function () {waitingDialog.hide();}, 2000);" data-dismiss="modal">Create Quiz</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>


<script>
  function showModalWithWait(id) {
    waitingDialog.show('Uploading picture');
    setTimeout(function () {waitingDialog.hide();}, 500);
    $(".modal").modal('hide');
    $("#" + id).modal();
  }


  function showModal(id) {
    $(".modal").modal('hide');
    $("#" + id).modal();
  }


  var waitingDialog = waitingDialog || (function ($) {
      'use strict';

      // Creating modal dialog's DOM
      var $dialog = $(
        '<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">' +
        '<div class="modal-dialog modal-m">' +
        '<div class="modal-content">' +
        '<div class="modal-header"><h3 style="margin:0;"></h3></div>' +
        '<div class="modal-body">' +
        '<div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>' +
        '</div>' +
        '</div></div></div>');

      return {
        show: function (message, options) {
          // Assigning defaults
          if (typeof options === 'undefined') {
            options = {};
          }
          if (typeof message === 'undefined') {
            message = 'Loading';
          }
          var settings = $.extend({
            dialogSize: 'm',
            progressType: '',
            onHide: null // This callback runs after the dialog was hidden
          }, options);

          // Configuring dialog
          $dialog.find('.modal-dialog').attr('class', 'modal-dialog').addClass('modal-' + settings.dialogSize);
          $dialog.find('.progress-bar').attr('class', 'progress-bar');
          if (settings.progressType) {
            $dialog.find('.progress-bar').addClass('progress-bar-' + settings.progressType);
          }
          $dialog.find('h3').text(message);
          // Adding callbacks
          if (typeof settings.onHide === 'function') {
            $dialog.off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
              settings.onHide.call($dialog);
            });
          }
          // Opening dialog
          $dialog.modal();
        },
        /**
         * Closes dialog
         */
        hide: function () {
          $dialog.modal('hide');
        }
      };

    })(jQuery);

</script>
