<div class="container">
  <div class="col-md-11">
    <div class="row">
      <div class="input-group" id="adv-search">
        <input type="text" ng-model="general" class="form-control" placeholder="Search by user"/>
        <div class="input-group-btn">
          <div class="btn-group" role="group">
            <button class="btn btn-primary" ng-click="generalSearch()">Search</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<section>
<div class="row h3">
  <div class="col-md-2"></div>
  <div class="col-md-3">User</div>
  <div class="col-md-3">Content</div>
  <div class="col-md-3">Image</div>
  <div class="col-md-3"></div>
</div>

<div class="row" ng-repeat="item in foundQuizzes">
  <div class="col-md-2"></div>
  <a class="col-md-3" ui-sref="profile({username: item.username})">{{item.username}}</a>
  <div class="col-md-3" ng-bind="item.content"></div>
  <a class="col-md-3" ui-sref="singleQuiz ({quiz: item})"><img height="150" src="{{item.imageURL}}"/></a>
  <div class="col-md-3"></div>
</div>
</section>


<div class="row h3"></div>
<div class="row h3"></div>
<div class="row h6"></div>

<div class="row h3">
  <div class="col-md-2"></div>
  <div class="col-md-3">Users</div>
  <div class="col-md-3"></div>
</div>

<div class="row" ng-repeat="item in foundProfiles">
  <div class="col-md-2"></div>
  <a class="col-md-3" ui-sref="profile({username: item.username})">{{item.username}}</a>
  <div class="col-md-3"></div>
</div>
