
<div class="row" >
<div id="map"></div>
     <div class="col-md-4"> <img ng-src="{{quiz.imageURL}}" /> </div>
   <div class="col-md-8">
        <div class="row h3">{{quiz.content}}</div>
        <div class ="row h4"> {{quiz.username}} </div> 
        <div class ="row h4"> {{quiz.hint}} </div> 
  </div>
  
    
  </div>



</div>
<div class="jumbotron">
  <h3 class="text-center lead">Comment Section</h3>
  <div class="form" ng-show="isLoggedIn()" style="margin-bottom: 20px;">
    <input type="text" class="form-control" placeholder="Comment" ng-model="comment">
    <button type="button" class="btn btn-success" ng-click="postComment()">Add a comment</button>
  </div>
  <div ng-repeat="comment in commentSection" class="list-group">
    <div class="list-group-item">
        <blockquote>
          <p>{{comment.content}}</p>
          <footer>Posted by <cite title="Source Title">{{comment.author}}</cite></footer>
        </blockquote>
    </div>
  </div>
</div>

<script> window.onload = GuessingMap({{quiz.ID}});</script>
<style>
       #map {
        height: 400px;
        width: 100%;
       }
           .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
    </style>