<button class="btn btn-primary btn-lg" ng-click="check()">Add</button>

<button ng-click="resetMap()" type="button" class="btn btn-default corner" ui-sref="quiz"">Close</button>

<h4 class="modal-title"> Quiz: {{selectedQuiz.content}} - by: {{selectedQuiz.username}}</h4>

<div ng-class="lockClass">
  <script> window.onload = GuessingMap();</script>
  <div  ng-click="guessingLocation()" id="map"></div>
  <div class="row">
    <div class="col-md-4"><img style="width: 100%; height: 100%" ng-src="{{selectedQuiz.imageURL}}"/></div>
    <div class="col-md-4"><p> Hint: {{selectedQuiz.hint}} </p></div>
  </div>
</div>

<div class="jumbotron">
  <h3 class="text-center lead">Comment Section</h3>
  <div class="form" ng-show="isLoggedIn()" style="margin-bottom: 20px;">
    <input type="text" class="form-control" placeholder="Comment" ng-model="comment">
    <button type="button" class="btn btn-success" ng-click="postComment()">Add a comment</button>
  </div>
  <div ng-repeat="comment in commentSection" class="list-group">
    <div class="list-group-item">
      <blockquote>
        <p>{{comment.content}}</p>
        <footer>Posted by <cite title="Source Title">{{comment.author}}</cite></footer>
      </blockquote>
    </div>
  </div>
</div>
